<nav class="navbar navbar-expand-lg navbar-light bg-white py-3 fixed-top" id="top">
	<div class="container px-5">
		<a class="navbar-brand" routerLink="/">
			<img src="assets/Logo/Logo Files/For Web/svg/Color logo - no background.svg" width="200" height="auto" alt="Logo">
		</a>

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">
				<li class="nav-item"><a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Accueil</a></li>
				<li class="nav-item"><a class="nav-link" routerLink="/resume" routerLinkActive="active">Curriculum vitæ</a></li>
				<li class="nav-item dropdown btn-group">
					<a class="nav-link" routerLink="/projects" routerLinkActive="active">Projets</a>
					<a class="nav-link dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="true">
						<span class="sr-only"></span>
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" routerLink="/projects">Projets</a>
						@if (projects.length) {
							<div class="dropdown-divider"></div>
							<h6 class="dropdown-header">Projets entreprise</h6>
							@for (project of enterpriseProjects; track project.slug) {
								<a class="dropdown-item" [routerLink]="['/projects', project.slug]">{{ project.title }}</a>
							}
							@if (schoolProjects.length) {
								<div class="dropdown-divider"></div>
								<h6 class="dropdown-header">Projet école</h6>
								@for (project of schoolProjects; track project.slug) {
									<a class="dropdown-item" [routerLink]="['/projects', project.slug]">{{ project.title }}</a>
								}
							}
						}
					</div>
				</li>
				<li class="nav-item"><a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a></li>
			</ul>
		</div>
	</div>
</nav>
